/* ----------------------------------  - CLIETS- -------------------------------------------- */
.clients {
  display: flex;
  align-items: center;
  list-style: none;
}

.clients__items:not(:last-child) {
  margin-right: 30px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;

  color: #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.client__icon {
  fill: currentColor;
}
