/* ------------------- FEATURE-LIST-------------------------------------- */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-color;
  list-style: none;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: $section-color;
  margin-bottom: 30px;
}

.features__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $heading-color;
}
