/* ---------------------- ---------- HERO -----------------------------------------*/
.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/home/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
  }

  &__button {
    background-color: var(--accent-color);
    border-color: transparent;
    padding: 10px 32px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);

    cursor: pointer;
  }
}
