// :root {
//   --background-color: #ffffff;
//   --main-color: #757575; /* основной цвет текста */
//   --heading-color: #212121; /* вторичный цвет текста (цвет заголовков) */
//   --accent-color: #2196f3; /* цвет акцента  и основной цвет кнопки)   */
//   --white-color: #ffffff;
//   --second-background-color: #2f303a;
//   --footer-contact-color: rgba(255, 255, 255, 0.6);
// }

body {
  background-color: $background-color;
  color: $main-color;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--pb0 {
  padding-bottom: 0;
}

.section--bg-grey {
  background-color: $section-color;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $heading-color;
}

.section__title--mb50 {
  margin-bottom: 50px;
}

/* CONTAINER */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN */
